<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/Python_220806_SVN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **SVN 알고리즘 활용 실습**

#### **패키지 및 데이터set 추가**

In [ ]:
from sklearn.model_selection import GridSearchCV        # 최적의 성능을 위한 최적의 조합을 찾아줌
from sklearn.metrics import classification_report       # classification 결과 산출
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC                             # suport vector classifier
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/wikibook/machine-learning/2.0/data/csv/basketball_stat.csv")

In [ ]:
train, test = train_test_split(df, test_size = 0.2)

#### **최적의 SVM Parameter 찾기**
---
사이킷런의 그리드 서치(gridsearch)를 사용하여
간편하게 최적의 비용과 감마를 알아내기

In [ ]:
# nfolds는 횟수
def svc_param_selection(x, y, nfolds):
  svm_parameters = [{'kernel': ['rbf'],
                     'gamma': [0.00001, 0.0001, 0.001, 0.01, 0.1, 1],
                     'C': [0.01, 0.1, 1, 10, 100, 1000]}]
  clf = GridSearchCV(SVC(), svm_parameters, cv=nfolds)
  clf.fit(x, y)
  print(clf.best_params_)
  return clf

In [ ]:
x_train = train[["3P", "BLK"]]
y_train = train[['Pos']]
clf = svc_param_selection(x_train, y_train.values.ravel(), 10)

{'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}

#### **모델 테스트**

In [ ]:
x_test = test[["3P", "BLK"]]
y_test = test[['Pos']]

y_true, y_pred = y_test, clf.predict(x_test)

print(classification_report(y_true, y_pred))
print()
print("accuracy: ", str(accuracy_score(y_true, y_pred)))

              precision    recall  f1-score   support

           C       1.00      0.88      0.93         8
          SG       0.92      1.00      0.96        12

    accuracy                           0.95        20
   macro avg       0.96      0.94      0.95        20
weighted avg       0.95      0.95      0.95        20


accuracy:  0.95

#### **실제 예측값 확인하기**

In [ ]:
comparison = pd.DataFrame({'predict':y_pred,
                           'ground_truth': y_true.values.ravel()})
comparison

   predict ground_truth
0        C            C
1       SG           SG
2       SG           SG
3       SG           SG
4       SG           SG
5        C            C
6       SG            C
7       SG           SG
8       SG           SG
9        C            C
10      SG           SG
11      SG           SG
12       C            C
13       C            C
14      SG           SG
15      SG           SG
16       C            C
17      SG           SG
18       C            C
19      SG           SG