<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/Class_%ED%8A%B9%EC%88%98%ED%95%A8%EC%88%98(special_function).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Class 특수함수 오버로딩 예제**

##**특수 함수를 정의하지 않았을 때**



###1.   함수를 정의하지 않은 경우

 > p1 = point(0, 0)

 > p2 = point(3, 4)일 때

     p1.x = 0, p1.y = 0 
     p2.x = 3, p1.y = 4   반환
 > add 함수를 정의하지 않았으므로 
 
 > print(p1.add(p2))와

 > print(p1+p2) 모두 에러 발생

In [1]:
class point0:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

In [2]:
p1 = point0(0, 0)
p2 = point0(3, 4)

In [3]:
print(p1.x)
print(p1.y)
print(p2.x)
print(p2.y)

0
0
3
4

In [4]:
#print(p01.add(p02))

"""'point0' object has no attribute 'add'"""                  #  point0에는 add라는 속성이 존재하지 않음

"'point0' object has no attribute 'add'"

In [5]:
# print(p01+p02)

'''unsupported operand type(s) for +: 'point0' and 'point0''' # + 는 지원되지 않는 연산자임( + 가 정의되어 있지 않음)

"unsupported operand type(s) for +: 'point0' and 'point0"



###2. add 함수만 정의하고 특수함수를 정의하지 않은 경우

  * x = self.x + other.y
   
   y = self.y + other.y 를 function add로 정의한 후

   > p1 = point(1, 1)
   
   > P2 = point(4, 5) 라면

    > print(p1.add(p2)), print(p2.add(p1))은 모두 (5, 6)반환
    
    > print(p1+p2) 에러 발생

In [6]:
class point1:
  def __init__(self, x=0, y=0):
    self.x = x
    self.y = y

  def add(self, other):
    x = self.x + other.x
    y = self.y + other.y
    return point1(x, y)

  def __str__(self):                                    # 출력 형식 지정
    return "({0},{1})".format(self.x, self.y)

In [7]:
p1 = point1(1, 1)
p2 = point1(4, 5)

In [8]:
print(p1.add(p2))
print(p2.add(p1))

(5,6)
(5,6)

In [9]:
#print(p11+p12)

'''unsupported operand type(s) for +: 'point1' and 'point1'''

"unsupported operand type(s) for +: 'point1' and 'point1"

###3. '&#95;&#95;add&#95;&#95;'를 특수함수로 정의한 경우

  * x = self.x + other.y
   
   y = self.y + other.y 로 정의하고

   > p1 = point(1, 1)
   
   > P2 = point(4, 5) 라면

    > print(p1.&#95;&#95;add&#95;&#95;(p2))
    
    > print(p2.&#95;&#95;add&#95;&#95;(p1))
    
    > print(p1+p2) 모두 (5, 6)반환

In [10]:
class Point2:
  def __init__(self, x = 0, y = 0):
    self.x = x
    self.y = y
  def __add__(self, other):
    x = self.x + other.x
    y = self.y + other.y
    return Point2(x, y)
  def __str__(self):
    return "({0},{1})".format(self.x, self.y)

In [11]:
p1 = Point2(1,1)
p2 = Point2(4,5)

In [12]:
print(p1.__add__(p2))
print(p2.__add__(p1))
print(p1+p2)

(5,6)
(5,6)
(5,6)

##**특수함수를 활용한 오버로딩**

### 1. 산술연산자 오버로딩

In [13]:
class Point:
  def __init__(self, x = 0, y = 0):
    self.x = x
    self.y = y

  def __str__(self):
    return "({0}, {1})".format(self.x, self.y)
  
  def __add__(self, other):
    x = self.x + other.x
    y = self.y + other.y
    return Point(x, y)

  def __sub__(self, other):
    x = self.x - other.x
    y = self.y - other.y
    return Point(x, y)

  def __mul__(self, other):
    x = self.x * other.x
    y = self.y * other.y
    return Point(x, y)

  def __pow__(self, other):
    x = self.x ** other.x
    y = self.y ** other.y
    return Point(x, y)

  def __truediv__(self, other):
    x = self.x / other.x
    y = self.y / other.y
    return Point(x, y)

  def __floordiv__(self, other):
    x = self.x // other.x
    y = self.y // other.y
    return Point(x, y)

  def __mod__(self, other):
    x = self.x % other.x
    y = self.y % other.y
    return Point(x, y)

---
p1 = Point(1, 1)

p2 = Point(4, 5)

p3 = Point(20, 30)

p4 = Point(8, 4)

In [14]:
p1 = Point(1,1)
p2 = Point(4,5)

p3 = Point(20, 30)
p4 = Point(8, 4)

####1.   Addition :
  > **p1 + p2**

  > p1.&#95;&#95;add__(p2)

  모두 (5,6) 반환

In [15]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 + p2 = ", p1+p2)
print("p1.__add__(p2) = ", p1.__add__(p2))

p1 = (1, 1)
p2 = (4, 5)
---
p1 + p2 =  (5, 6)
p1.__add__(p2) =  (5, 6)

####2.   Substraction :
  > **p1 - p2**

  > p1.&#95;&#95;sub__(p2)

  모두 (-3,-4) 반환

In [16]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 - p2 = ", p1-p2)
print("p1.__sub__(p2) = ", p1.__sub__(p2))

p1 = (1, 1)
p2 = (4, 5)
---
p1 - p2 =  (-3, -4)
p1.__sub__(p2) =  (-3, -4)

####3.  Multiplication :
  > **p2 * p4**

  > p2.&#95;&#95;mul__(p4)

  모두 (32, 20) 반환

In [17]:
print("p2 =",p2)
print("p4 =",p4)
print("---")
print("p2 * p4 = ", p2*p4)
print("p2.__mul__(p4) = ", p2.__mul__(p4))

p2 = (4, 5)
p4 = (8, 4)
---
p2 * p4 =  (32, 20)
p2.__mul__(p4) =  (32, 20)

####4. Power :
  > **p2 &#42;&#42; p4**

  > p2.&#95;&#95;pow__(p4)

  모두 (65536, 625) 반환

In [18]:
print("p2 =",p2)
print("p4 =",p4)
print("---")
print("p2 ** p4 = ", p2**p4)
print("p2.__pow__(p4) = ", p2.__pow__(p4))

p2 = (4, 5)
p4 = (8, 4)
---
p2 ** p4 =  (65536, 625)
p2.__pow__(p4) =  (65536, 625)

####5. Division :
  > **p3 / p4**

  > p3.&#95;&#95;truediv__(p4)

  모두 (2.5, 7.5) 반환

In [19]:
print("p3 =",p3)
print("p4 =",p4)
print("---")
print("p3 / p4 = ", p3/p4)
print("p3.__truediv__(p4) = ", p3.__truediv__(p4))

p3 = (20, 30)
p4 = (8, 4)
---
p3 / p4 =  (2.5, 7.5)
p3.__truediv__(p4) =  (2.5, 7.5)

####6. Floor Division :
  > **p3 // p4**

  > p3.&#95;&#95;floordiv__(p4)

  모두 (2, 7) 반환

In [20]:
print("p3 =",p3)
print("p4 =",p4)
print("---")
print("p3 // p4 = ", p3//p4)
print("p3.__floordiv__(p4) = ", p3.__floordiv__(p4))

p3 = (20, 30)
p4 = (8, 4)
---
p3 // p4 =  (2, 7)
p3.__floordiv__(p4) =  (2, 7)

####7. Remainder(modulo) :
  > **p3 % p4**

  > p3.&#95;&#95;mod__(p4)

  모두 (4, 2) 반환

In [21]:
print("p3 =",p3)
print("p4 =",p4)
print("---")
print("p3 % p4 = ", p3%p4)
print("p3.__mod__(p4) = ", p3.__mod__(p4))

p3 = (20, 30)
p4 = (8, 4)
---
p3 % p4 =  (4, 2)
p3.__mod__(p4) =  (4, 2)

### 2. 비트연산자 오버로딩

In [22]:
class PointBit:
  def __init__(self, x = 0, y = 0):
    self.x = x
    self.y = y

  def __str__(self):
    return "({0}, {1})".format(self.x, self.y)
  
  def __lshift__(self, other):
    x = self.x << other.x
    y = self.y << other.y
    return PointBit(x, y)
  
  def __rshift__(self, other):
    x = self.x >> other.x
    y = self.y >> other.y
    return PointBit(x, y)

  def __and__(self, other):
    x = self.x & other.x
    y = self.y & other.y
    return PointBit(x, y)

  def __or__(self, other):
    x = self.x | other.x
    y = self.y | other.y
    return PointBit(x, y)

  def __xor__(self, other):
    x = self.x ^ other.x
    y = self.y ^ other.y
    return PointBit(x, y)

  def __invert__(self):
    x = ~self.x
    y = ~self.y
    return PointBit(x, y)

---
p1 = PointBit(12, 14)

p2 = PointBit(2, 1)

In [23]:
p1 = PointBit(12,14)
p2 = PointBit(2, 1)

####1.   Bitwise Left Shift :
  > **p1 << p2**

  > p1.&#95;&#95;lshift__(p2)
     
     x: 12 << 2  12*(2**2) = 48
     y: 14 << 1  14*(2*1) = 28 
     
  모두 (48, 28) 반환

In [24]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 << p2 = ", p1<<p2)
print("p1.__lshift__(p2) = ", p1.__lshift__(p2))

p1 = (12, 14)
p2 = (2, 1)
---
p1 << p2 =  (48, 28)
p1.__lshift__(p2) =  (48, 28)

####2.   Bitwise Right Shift :
  > **p1 >> p2**

  > p1.&#95;&#95;rshift__(p2)
     
     x: 12 >> 2  12*(2**-2) = 3
     y: 14 >> 1  14*(2*-1) = 7 
     
  모두 (3, 7) 반환

In [25]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 >> p2 = ", p1>>p2)
print("p1.__rshift__(p2) = ", p1.__rshift__(p2))

p1 = (12, 14)
p2 = (2, 1)
---
p1 >> p2 =  (3, 7)
p1.__rshift__(p2) =  (3, 7)

####3.   Bitwise AND :
  > **p1 & p2**

  > p1.&#95;&#95;rshift__(p2)
     
     x: 12 & 2  00001100 & 00000010 = 00000000 -> 0
     y: 14 & 1  00001110 & 00000001 = 00000000 -> 0
     
  모두 (0, 0) 반환

In [26]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 & p2 = ", p1&p2)
print("p1.__and__(p2) = ", p1.__and__(p2))

p1 = (12, 14)
p2 = (2, 1)
---
p1 & p2 =  (0, 0)
p1.__and__(p2) =  (0, 0)

####4.   Bitwise OR :
  > **p1 | p2**

  > p1.&#95;&#95;or__(p2)
     
     x: 12 & 2  00001100 | 00000010 = 00001110 -> 14
     y: 14 & 1  00001110 | 00000001 = 00001111 -> 15
     
  모두 (14, 15) 반환

In [27]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 | p2 = ", p1|p2)
print("p1.__or__(p2) = ", p1.__or__(p2))

p1 = (12, 14)
p2 = (2, 1)
---
p1 | p2 =  (14, 15)
p1.__or__(p2) =  (14, 15)

####5.   Bitwise XOR :
  > **P1 ^ P2**

  > p1.&#95;&#95;xor__(p2)
     
     x: 12 ^ 2  00001100 ^ 00000010 = 00001110 -> 14
     y: 14 ^ 1  00001110 ^ 00000001 = 00001111 -> 15
     
  모두 (14, 15) 반환

In [28]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 ^ p2 = ", p1^p2)
print("p1.__xor__(p2) = ", p1.__xor__(p2))

p1 = (12, 14)
p2 = (2, 1)
---
p1 ^ p2 =  (14, 15)
p1.__xor__(p2) =  (14, 15)

####6.   Bitwise NOT :
  > **~p1**

  > p1.&#95;&#95;invert__()
     
     x: ~12  ~00001100 = 11110011 -> -(12+1) = -13
     y: ~14  ~00001110 = 11110001 -> -(14+1) = -15
     
   (-13, -15) 반환


  > **~p2**

  > p2.&#95;&#95;invert__()
     
     x: ~2  ~00000010 = 11111101 -> -(2+1) = -3
     y: ~1  ~00000001 = 11111110 -> -(1+1) = -2

   (-3, -2) 반환

In [32]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("~p1 = ", ~p1)
print("p1.__invert__() = ", p1.__invert__())
print("~p2 = ", ~p2)
print("p2.__invert__() = ", p2.__invert__())

p1 = (12, 14)
p2 = (2, 1)
---
~p1 =  (-13, -15)
p1.__invert__() =  (-13, -15)
~p2 =  (-3, -2)
p2.__invert__() =  (-3, -2)

### 3. 관계연산자 오버로딩

In [51]:
class PointR:
  def __init__(self, x = 0, y = 0):
    self.x = x
    self.y = y
 
  def __str__(self):
    return "({0}, {1})".format(self.x, self.y)

  def __lt__(self, other):
    s = (self.x**2+self.y**2)**0.5
    o = (other.x**2+other.y**2)**0.5
    return s < o
  
  def __le__(self, other):
    s = (self.x**2+self.y**2)**0.5
    o = (other.x**2+other.y**2)**0.5
    return s <= o

  def __eq__(self, other):

    return self.x == other.x and self.y == other.y

  def __ne__(self, other):
   
    return self.x != other.x and self.y != other.y

  def __gt__(self, other):
    s = (self.x**2+self.y**2)**0.5
    o = (other.x**2+other.y**2)**0.5
    return s > o

  def __ge__(self, other):
    s = (self.x**2+self.y**2)**0.5
    o = (other.x**2+other.y**2)**0.5
    return s >= o

---
p1 = PointR(3, 4)

p2 = PointR(4, 3)

p3 = PointR(1, 8)

p4 = PointR(4, 2)

p5 = PointR(3, 4)

In [58]:
p1 = PointR(3, 4)
p2 = PointR(4, 3)
p3 = PointR(1, 8)
p4 = PointR(4, 2)
p5 = PointR(3, 4)

####1.   Less than / Greater than:
 : 원점에서 p3까지의 길이와 p4까지의 길이를 비교하도록 함수를 정의함
***

   1-1. Less than
  > **p3 < p4**

  > p3.&#95;&#95;lt__(p4)

  1-2. Greater than

  > **p3 > p4**

  > p3.&#95;&#95;gt__(p4)


     
     (1**2 + 8**2)**0.5 = (1+64)**0.5 => 65의 제곱근
     (4**2 + 2**2)**0.5 = (16+4)**0.5 => 20의 제곱근
     65**0.5 > 20*0.5이므로
     
   **p3 < p4, p3.&#95;&#95;lt__(p4)는 모두 Flase 반환**

   **p3 > p4, p3.&#95;&#95;gt__(p4)는 모두 True 반환**

In [56]:
print("p3 =",p3)
print("p4 =",p4)
print("---")
print("p3 < p4 = ", p3<p4)
print("p3.__lt__(p4) = ", p3.__lt__(p4))
print("---")
print("p3 > p4 = ", p3>p4)
print("p3.__lt__(p4) = ", p3.__gt__(p4))

p3 = (1, 8)
p4 = (4, 2)
---
p3 < p4 =  False
p3.__lt__(p4) =  False
---
p3 > p4 =  True
p3.__lt__(p4) =  True

####2.   Less than or equal to / Greater than or equal to:
 : 원점에서 p1까지의 길이와 p2까지의 길이를 비교하도록 함수를 정의함
***
  2-1. Less than or equal to

  > **p1 <= p2**

  > p1.&#95;&#95;le__(p2)

  2-2. Greater than or equal to

  > **p1 >= p2**

  > p1.&#95;&#95;ge__(p2)
     
     (3**2 + 4**2)**0.5 = 5
     (4**2 + 3**2)**0.5 = 5
     5 = 5이므로
     
   **p1 <= p2, p1.&#95;&#95;le__(p2), p1 >= p2, p1.&#95;&#95;ge__(p2) 모두 True 반환**

In [59]:
print("p1 =",p1)
print("p2 =",p2)
print("---")
print("p1 <= p2 = ", p1<=p2)
print("p1.__le__(p2) = ", p1.__le__(p2))
print("---")
print("p1 >= p2 = ", p1<=p2)
print("p1.__ge__(p2) = ", p1.__le__(p2))

p1 = (3, 4)
p2 = (4, 3)
---
p1 <= p2 =  True
p1.__le__(p2) =  True
---
p1 >= p2 =  True
p1.__ge__(p2) =  True

####3.   equal to:
 : p1의 x, y 좌표, p2의 x, y 좌표의 동일 여부를 판단하도록 정의함
***

  > **p1 == p2**

  > p1.&#95;&#95;eq__(p2)
  
   *p1은 (3,4), p2는 (4,3)이므로 모두 False 반환*
  
  > **p1 == p5**

  > p1.&#95;&#95;eq__(p5)
  
   *p1이 (3,4), p5도 (3,4)이므로 모두 True 반환*

In [60]:
print("p1 =",p1)
print("p2 =",p2)
print("p5 =",p5)
print("---")
print("p1 == p2 = ", p1==p2)
print("p1.__eq__(p2) = ", p1.__eq__(p2))
print("---")
print("p1 == p5 = ", p1==p5)
print("p1.__eq__(p5) = ", p1.__eq__(p5))

p1 = (3, 4)
p2 = (4, 3)
p5 = (3, 4)
---
p1 == p2 =  False
p1.__eq__(p2) =  False
---
p1 == p5 =  True
p1.__eq__(p5) =  True

####4.   Not equal to:
 : p1의 x, y 좌표, p2의 x, y 좌표의 동일 여부를 판단하도록 정의함
***

  > **p1 != p2**

  > p1.&#95;&#95;ne__(p2)
  
   *p1은 (3,4), p2는 (4,3)이므로 모두 True 반환*
  
  > **p1 != p5**

  > p1.&#95;&#95;ne__(p5)
  
   *p1이 (3,4), p5도 (3,4)이므로 모두 False 반환*

In [61]:
print("p1 =",p1)
print("p2 =",p2)
print("p5 =",p5)
print("---")
print("p1 != p2 = ", p1!=p2)
print("p1.__ne__(p2) = ", p1.__ne__(p2))
print("---")
print("p1 != p5 = ", p1!=p5)
print("p1.__ne__(p5) = ", p1.__ne__(p5))

p1 = (3, 4)
p2 = (4, 3)
p5 = (3, 4)
---
p1 != p2 =  True
p1.__ne__(p2) =  True
---
p1 != p5 =  False
p1.__ne__(p5) =  False