<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/list%2C_tuple%2C_dictionary%2C_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list, tuple, set, dictionary 내장함수 사용하기 예제



##1.  list

In [940]:
testlist0 = []
testlist1 = [0]
testlist2 = [False]
testlist3 = [0, 10, 20, 30, 40, 50]
testlist4 = ['가', '나', '다']
testlist5 = [10, 20, 30, 40, 50, '가', '나', '다']

###**아이템 추가**

#### append(x)
* 리스트 맨 뒤에 아이템을 하나씩 추가
* 추가하는 아이템은 list, tuple, set, dict여도 상관 없음.

In [941]:
testlist3.append(60)
testlist3

[0, 10, 20, 30, 40, 50, 60]

#### extend(seq)
* 리스트 끝에 다른 리스트를 연결하여 확장
* 리스트 말고 tuple, set, dict을 연결해도 상관 없음.

In [942]:
testlist3.extend(testlist4)
testlist3

[0, 10, 20, 30, 40, 50, 60, '가', '나', '다']

In [943]:
testlist0.extend((0, 1, 3))
testlist0.extend({'아', '이', '우', '에', '오'}) #set에는 순서가 없으므로 출력 시 순서가 매번 다르게 나온다.
testlist0.extend({"애완동물":"강아지"})
testlist0

[0, 1, 3, '아', '오', '에', '우', '이', '애완동물']

In [944]:
testlist5.extend((40, 50, 60))
testlist5

[10, 20, 30, 40, 50, '가', '나', '다', 40, 50, 60]

#### insert(index, x)
* 특정 인덱스에 새로운 아이템을 삽입

In [945]:
testlist5.insert(5, 50)
testlist5

[10, 20, 30, 40, 50, 50, '가', '나', '다', 40, 50, 60]

In [946]:
testlist0.insert(0, [1, 2, 3])
testlist0

[[1, 2, 3], 0, 1, 3, '아', '오', '에', '우', '이', '애완동물']

###**아이템 삭제**

#### remove(value)
* 특정한 값을 찾아서 삭제
* 리스트 안에 여러 값이 있을 때는 처음 찾은 값만 삭제함

In [947]:
testlist5.remove(10)
testlist5

[20, 30, 40, 50, 50, '가', '나', '다', 40, 50, 60]

In [948]:
testlist0.remove(0)
testlist0

[[1, 2, 3], 1, 3, '아', '오', '에', '우', '이', '애완동물']

#### pop() / pop(index)
* 리스트의 마지막 아이템을 삭제한 후 삭제한 아이템을 반환
* pop(index)는 인덱스의 아이템을 삭제한 후 삭제한 아이템을 반환

In [949]:
print(testlist0.pop())
print(testlist0)

애완동물
[[1, 2, 3], 1, 3, '아', '오', '에', '우', '이']

In [950]:
print(testlist0.pop(0))
print(testlist0)

[1, 2, 3]
[1, 3, '아', '오', '에', '우', '이']

#### clear()
* 리스트의 모든 아이템 삭제하기

In [951]:
testlist0.clear()
testlist0

[]

#### del listName[x:y]
* 인덱스 x부터 인덱스 y-1까지 아이템 삭제하기

In [952]:
print(testlist3)
del testlist3[7:]
print(testlist3)

[0, 10, 20, 30, 40, 50, 60, '가', '나', '다']
[0, 10, 20, 30, 40, 50, 60]

###**아이템 찾기**

#### index(value)
* 리스트에서 특정 값의 인덱스 구하기

* 같은 값이 여러 개일 경우 처음 인덱스 반환

In [953]:
print(testlist5)
testlist5.index(50)

[20, 30, 40, 50, 50, '가', '나', '다', 40, 50, 60]

3

#### count(value)
* 특정 값의 개수 구하기

In [954]:
testlist5.count(50)

3

###**아이템 순서**

#### reverse()
* 리스트의 아이템 순서 뒤집기

In [955]:
print(testlist5)
testlist5.reverse()
print(testlist5)

[20, 30, 40, 50, 50, '가', '나', '다', 40, 50, 60]
[60, 50, 40, '다', '나', '가', 50, 50, 40, 30, 20]

#### sort() / sort(reverst=False) // sort(revers=True)
* sort()/sort(reverse=False): 리스트의 아이템 오름차순으로 정렬

* sort(reverse=True): 리스트의 아이템 내림차순으로 정렬

* **단, reverse()와 달리 아이템의 유형이 모두 동일할 때만 동작한다.**

In [956]:
testlist3.sort()
print(testlist3)

[0, 10, 20, 30, 40, 50, 60]

In [957]:
print(testlist4)
testlist4.sort(reverse=True)
print(testlist4)

['가', '나', '다']
['다', '나', '가']

###**아이템 복사**

#### copy()
* 리스트를 복사함

* 리스트 a와 리스트 b가 있을 때 b = a하면 a값이 변경될 때 b값도 변하지만,

* b = a.copy() 하면 각자 다를 객체로 생성되어 a값이 변해도 b값이 변하지 않는다.

In [958]:
print("---testist4 = testlist3---")
testlist4 = testlist3
print(testlist3)
print(testlist4)

print("---testlist4.insert(0,100)---")
testlist4.insert(0, 100)
print(testlist3)
print(testlist4)

---testist4 = testlist3---
[0, 10, 20, 30, 40, 50, 60]
[0, 10, 20, 30, 40, 50, 60]
---testlist4.insert(0,100)---
[100, 0, 10, 20, 30, 40, 50, 60]
[100, 0, 10, 20, 30, 40, 50, 60]

In [959]:
print(testlist0)
print("---testist0 = testlist3.copy()---")
testlist0 = testlist3.copy()
print(testlist3)
print(testlist0)

print("---testlist0.clear()---")
testlist0.clear()
print(testlist3)
print(testlist0)

[]
---testist0 = testlist3.copy()---
[100, 0, 10, 20, 30, 40, 50, 60]
[100, 0, 10, 20, 30, 40, 50, 60]
---testlist0.clear()---
[100, 0, 10, 20, 30, 40, 50, 60]
[]



##2.  tuple

튜플은 값을 변경할 수 없으므로 함수 사용이 제한적

In [960]:
testtuple0 = (10, 20, 20, 20, 20, '가', '나', '나')
testtuple1 = (10, 20, 20, 20, 20)

###**아이템 찾기**

#### index(value)
* 튜플에서 특정 값의 인덱스 구하기

* 같은 값이 여러 개일 경우 처음 인덱스 반환

In [961]:
testtuple0.index(10)

0

In [962]:
testtuple0.index('가')

5

#### count(value)
* 특정 값의 개수 구하기

In [963]:
testtuple0.count(20)

4

In [964]:
testtuple0.count('나')

2

## 3. dictionary

In [965]:
testDict0 = {}
testDict1 = {False : True}
testDict2 = {1: 101, 3: 102, 5: 103, 8: 104, 10: 105}
testDict3 = {1: "강아지", 2: "고양이", 3: "토끼", 4: "햄스터", 5: "호랑이"}
testDict4 = {"강아지": "멍멍", "고양이": "야옹", "호랑이": "어흥", "송아지": "음메"}
testDict5 = {1: 201, 2: 202, 3: 203, "강아지": "멍멍", "고양이": "야옹"}

###**아이템 찾기 / 추가 / 수정**

#### get(key) / get(key, defaults)
* 딕셔너리에서 특정한 키로 값을 검색하여 value반환
* get(key)의 경우 딕셔너리에 해당 key가 없으면 아무 값도 반환하지 않지만, get(key,defaults)로 기본값을 지정하면 해당 key가 없을 경우 기본값을 반환함.

In [966]:
testDict5

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹'}

In [967]:
testDict5.get("강아지")

'멍멍'

In [968]:
testDict5.get("송아지")

In [969]:
testDict5.get("송아지", "음메")

'음메'

In [970]:
testDict5

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹'}

#### setdefault(key) / setdefault(key, defualts)
* 딕셔너리에서 특정한 키로 값을 검색하여 value 반환
* get(key)과의 차이점은 해당 키가 존재하지 않으면 키와 값을 추가한 후 반환한다는 점임
* defaults를 작성하지 않으면 None으로 저장함

In [971]:
print(testDict5)

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹'}

In [972]:
testDict5.setdefault("강아지")

'멍멍'

In [973]:
testDict5.setdefault("송아지")

In [974]:
print(testDict5)

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '송아지': None}

In [975]:
print(testDict5.setdefault("송아지", "음메"))
print(testDict5.setdefault(1, 210))  # 이미 값이 입력되어있는 경우 수정 불가

None
201

In [976]:
print(testDict5)

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '송아지': None}

#### update(key=value) / update(iterable)
* 딕셔너리에 키의 값을 수정함(setdefault와 차이점)
* 해당 키가 없다면 키-값 쌍을 추가함

 > *주의사항*

 > *키가 숫자인 경우에 utdate(key=value)해도 업데이트되지 않는다. (오류 발생, dict, list, tuple 등을 활용하여 수정해야함)*

 > *update(key=value)를 활용할 때는 키와 값이 문자열이더라도 " ", ' ' 없이 작성해야한다*

* update추가하는 아이템에는 dict, list, tuple 등 반복가능한 객체가 올 수 있음 (set 제외)

 > *dict, list, tuple을 입력할 때는 키, 값 쌍의 데이터가 들어가야 한다.(key든 value든 생략불가인듯)*

 > *키, 값 한 쌍만 입력할 때는 [(key, value)]형식일 때만 실행되는 듯...*

 > *키 값이 여러 쌍일 때, list 안에는 list, tuple, dict 심지어 set이 와도 정상적으로 실행하지만, tuple 안에는 tuple일 때만 실행한다...*

In [977]:
testDict5.update(강아지=210)

In [978]:
print(testDict5)

{1: 201, 2: 202, 3: 203, '강아지': 210, '고양이': '야옹', '송아지': None}

In [979]:
tempDict = {"강아지": "멍멍", 1:210}
testDict5.update(tempDict)
print(testDict5)

{1: 210, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '송아지': None}

In [980]:
# 에러 발생
# temptuple = (1, "삐약삐약") #key가 문자열이든 숫자든 상관 없이 에러발생
# templist = [1, "삐약삐약"]  #key가 문자열이든 숫자든 상관 없이 에러발생
# temptuple = ((1, "삐약삐약")) #key가 문자열이든 숫자든 상관 없이 에러발생
# templist = [[1, "삐약삐약"]]  #key가 문자열이든 숫자든 상관 없이 에러발생
# temptuple = ([1, 210]) #key가 문자열이든 숫자든 상관 없이 에러발생

templist = [(1, 210)] # 정상동작
testDict5.update(templist)

# temptuple = ([1,201], ['강아지', '왈왈']) 에러발생
temptuple = ((1,201), ('송아지', '음메')) # 정상동작
testDict5.update(temptuple)

templist2 = [('병아리', '삐약삐약'), {3, 203}] #정상동작
testDict5.update(templist2)

print(testDict5)

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '송아지': '음메', '병아리': '삐약삐약'}

###**아이템 삭제**

#### pop(key) / pop(key, defualts)
* 딕셔너리에서 특정한 키-값 쌍을 삭제하고 삭제한 값을 반환함
* pop(key)로 찾았을 때 key 가 존재하지 않는다면 키에러 발생
* pop(key, defaults)로 찾았을 때 key 나 value가 존재하지 않으면 삭제 없이 value반환, key는 존재하지만 value가 존재하지 않을 때는 key를 삭제하고 해당key의 value를 반환함

In [981]:
testDict5

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '병아리': '삐약삐약', '송아지': '음메'}

In [982]:
testDict5.pop("병아리")

'삐약삐약'

In [983]:
testDict5

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹', '송아지': '음메'}

In [984]:
testDict5.pop("호랑이", "어흥")

'어흥'

In [985]:
testDict5.pop("송아지", "어흥")

'음메'

In [986]:
testDict5

{1: 201, 2: 202, 3: 203, '강아지': '멍멍', '고양이': '야옹'}

#### popitem()
* 딕셔너리에서 임의의 키-값 쌍을 삭제하고 삭제한 키-값을 튜플로 반환함
* 딕셔너리가 모두 비워지면 key에러 발생

In [987]:
testDict2

{1: 101, 3: 102, 5: 103, 8: 104, 10: 105}

In [988]:
testDict2.popitem()

(10, 105)

In [989]:
testDict2

{1: 101, 3: 102, 5: 103, 8: 104}

#### clear()
* 딕셔너리의 모든 아이템 삭제하기

In [990]:
testDict2.clear()
testDict2

{}

###**아이템 객체 생성**

#### items()
* 딕셔너리의 키-값 쌍으로 이루어진 새로운 객체 생성
 > *(키,쌍) 튜플들을 아이템으로 하는 list를 아이템으로 하여 객체 생성*

 > *이 객체는 isdisjoint()만 지원하며, 다른 list, tuple, dict, set의 메소드를 지원하지 않는 듯*

In [991]:
testDict5.items()

dict_items([(1, 201), (2, 202), (3, 203), ('강아지', '멍멍'), ('고양이', '야옹')])

In [992]:
allItem3 = testDict3.items()
allItem4 = testDict4.items()
allItem5 = testDict5.items()

print(allItem3)
print(allItem4)
print(allItem5)

dict_items([(1, '강아지'), (2, '고양이'), (3, '토끼'), (4, '햄스터'), (5, '호랑이')])
dict_items([('강아지', '멍멍'), ('고양이', '야옹'), ('호랑이', '어흥'), ('송아지', '음메')])
dict_items([(1, 201), (2, 202), (3, 203), ('강아지', '멍멍'), ('고양이', '야옹')])

In [993]:
allItem3.isdisjoint(allItem5)  #같은 아이템이 존재하지 않으므로 True 반환

True

In [994]:
allItem4.isdisjoint(allItem5)  #('강아지', '멍멍'), ('고양이', '야옹')이 같은 아이템이므로 False 반환

False

#### keys()
* 딕셔너리의 모든 키로 이루어진 새로운 객체 생성
 > *모든 키들을 아이템으로 하는 list를 아이템으로 하여 객체 생성*

 > *이 객체는 isdisjoint()만 지원하며, 다른 list, tuple, dict, set의 메소드를 지원하지 않는 듯*

In [995]:
testDict5.keys()

dict_keys([1, 2, 3, '강아지', '고양이'])

#### values()
* 딕셔너리의 모든 값으로 이루어진 새로운 객체 생성
 > *모든 값들을 아이템으로 하는 list를 아이템으로 하여 객체 생성*

 > *이 객체는 isdisjoint()만 지원하며, 다른 list, tuple, dict, set의 메소드를 지원하지 않는 듯*

In [996]:
testDict5.values()

dict_values([201, 202, 203, '멍멍', '야옹'])

###**아이템 생성 / 복사**

#### dict.formkeys(seq) / dict.formkeys(seq, value)
* 리스트나 튜플을 활용하여 새로운 딕셔너리 생성

* formkeys(seq)로 key값만 지정하면 값은 모두 None이 됨

* formkeys(seq, value)로 작성하면 값은 모두 value가 됨

 > *주의사항*

 > *dictName.formkey(seq, vlaue)가 아님!!*

 > *dictName = dict.formkey(seq, vlaue)* 식으로 생성 후 대입해야 한다.

In [997]:
keylist = [1, 2, 3, 5, 8, 9]
testDict2 = dict.fromkeys(keylist, 100)
testDict2

{1: 100, 2: 100, 3: 100, 5: 100, 8: 100, 9: 100}

#### copy()
* 딕셔너리를 복사함

* 딕셔너리 a와 딕셔너리 b가 있을 때 b = a하면 a값이 변경될 때 b값도 변하지만,

* b = a.copy() 하면 각자 다를 객체로 생성되어 a값이 변해도 b값이 변하지 않는다.

In [998]:
print("---testDict0 = testDict2---")
testDict0 = testDict2
print(testDict2)
print(testDict0)

print("---testDict2.update([(3, 300), (9, 200)])---")
testDict2.update([(3, 300), (9, 200)])
print(testDict2)
print(testDict0)

---testDict0 = testDict2---
{1: 100, 2: 100, 3: 100, 5: 100, 8: 100, 9: 100}
{1: 100, 2: 100, 3: 100, 5: 100, 8: 100, 9: 100}
---testDict2.update([(3, 300), (9, 200)])---
{1: 100, 2: 100, 3: 300, 5: 100, 8: 100, 9: 200}
{1: 100, 2: 100, 3: 300, 5: 100, 8: 100, 9: 200}

In [999]:
tempDict2 = {}
print("---tempDict2 = testDict0.copy()---")
tempDict2 = testDict0.copy()
print(testDict0)
print(tempDict2)

print("---testDict0.clear()---")
testDict0.clear()
print(testDict0)
print(tempDict2)

---tempDict2 = testDict0.copy()---
{1: 100, 2: 100, 3: 300, 5: 100, 8: 100, 9: 200}
{1: 100, 2: 100, 3: 300, 5: 100, 8: 100, 9: 200}
---testDict0.clear()---
{}
{1: 100, 2: 100, 3: 300, 5: 100, 8: 100, 9: 200}

## 4. set

In [1000]:
testSet0 = {}
testSet1 = {0}
testSet2 = {False}
testSet3 = {0, 10, 20, 30, 50, 50}
testSet4 = {'가', '나', '다'}
testSet5 = {10, 20, 30, 40, 50, '가', '나', '다'}

###**아이템 추가**

#### add()
* 세트에 아이템을 하나씩 추가

* set 아이템은 중복이 불가하므로 기존 아이템과 동일하면 추가되지 않음

 > *list, tuple, set, dict은 추가되지 않는 듯?*

In [1001]:
testSet3.add(60)
testSet3

{0, 10, 20, 30, 50, 60}

###**아이템 삭제**

#### remove()
* 세트에서 아이템 삭제

* 해당 아이템이 없으면 key에러 발생

In [1002]:
testSet3.remove(20)
testSet3

{0, 10, 30, 50, 60}

#### discard()
* 세트에서 아이템 삭제

* 해당 아이템이 없더라도 무시

In [1003]:
testSet3.discard(20)
testSet3

{0, 10, 30, 50, 60}

#### pop()
* 세트에서 임의의 아이템을 삭제하고 삭제한 아이템을 반환함
* 세트가 모두 비워지면 key에러 발생

In [1004]:
testSet5

{10, 20, 30, 40, 50, '가', '나', '다'}

In [1005]:
testSet5.pop()

'나'

In [1006]:
testSet5

{10, 20, 30, 40, 50, '가', '다'}

#### clear()
* 세트의 모든 아이템 삭제하기

In [1007]:
testSet2

{False}

In [1008]:
testSet2.clear()
testSet2

set()

###**아이템 복사**

#### copy()
* 세트를 복사함

* 세트 a와 세트 b가 있을 때 b = a하면 a값이 변경될 때 b값도 변하지만,

* b = a.copy() 하면 각자 다를 객체로 생성되어 a값이 변해도 b값이 변하지 않는다.

In [1009]:
print("---testSet2 = testSet3---")
testSet2 = testSet3
print(testSet3)
print(testSet2)

print("---testSet3.add('나')---")
testSet3.add('나')
print(testSet3)
print(testSet2)

---testSet2 = testSet3---
{0, 10, 50, 60, 30}
{0, 10, 50, 60, 30}
---testSet3.add('나')---
{0, '나', 10, 50, 60, 30}
{0, '나', 10, 50, 60, 30}

In [1010]:
tempSet = {0}
print("---testSet2 = tempSet.copy()---")
testSet2 = tempSet.copy()
print(tempSet)
print(testSet2)

print("---testSet2.add(False)---")
testSet2.add("강아지")
print(tempSet)
print(testSet2)

---testSet2 = tempSet.copy()---
{0}
{0}
---testSet2.add(False)---
{0}
{0, '강아지'}

###**집합 연산**

#### set.union(set1, set2, ...)
* 여러 세트의 합집합을 새로운 세트로 생성

In [1011]:
print(testSet2)
print(testSet3)
print(testSet4)

{0, '강아지'}
{0, '나', 10, 50, 60, 30}
{'나', '가', '다'}

In [1012]:
testUnion = set.union(testSet2, testSet3, testSet4)
testUnion

{0, 10, 30, 50, 60, '가', '강아지', '나', '다'}

#### union(otherset)
* 해당 set을 otherset과의 합집합으로 업데이트

In [1013]:
testSet2.update(testSet4)
testSet2

{0, '가', '강아지', '나', '다'}

#### set.intersection(set1, set2, ...)
* 여러 세트의 교집합을 새로운 세트로 생성

In [1014]:
print(testSet4)
print(testSet5)

{'나', '가', '다'}
{40, 10, '가', 50, 20, '다', 30}

In [1015]:
testintersection = set.intersection(testSet4, testSet5)
testintersection

{'가', '다'}

#### intersection_update(otherset)
* 해당 set을 otherset과의 교집합으로 업데이트

In [1016]:
testSet4.intersection_update(testSet5)
testSet4

{'가', '다'}

#### set.difference(set1, set2, ...)
* 여러 세트의 차집합을 새로운 세트로 생성
* 단 순서는 set1 - set2 - ... 임

In [1017]:
print(testSet4)
print(testSet5)

{'가', '다'}
{40, 10, '가', 50, 20, '다', 30}

In [1018]:
testdifference = set.difference(testSet5, testSet4, testSet3)
testdifference

{20, 40}

In [1019]:
testdifference0 = set.difference(testSet4, testSet5)
testdifference0

set()

#### difference_update(otherset)
* 해당 set을 otherset과의 차집합으로 업데이트

* 연산 방식은 set -= oherset임

In [1020]:
testSet5.difference_update(testSet4)
testSet5

{10, 20, 30, 40, 50}

#### set.symmetric_differnce(set1, set2, ...)
* 여러 세트의 합집합 - 교집합을 새로운 세트로 생성

In [1021]:
print(testSet2)
print(testSet3)

{0, '나', '강아지', '가', '다'}
{0, '나', 10, 50, 60, 30}

In [1022]:
testSymmeetricDifference = set.symmetric_difference(testSet2, testSet3)
testSymmeetricDifference

{10, 30, 50, 60, '가', '강아지', '다'}

#### symmetric_difference_update(otherset)
* 해당 set을 otherset과의 합집합-교집합으로 업데이트

In [1023]:
print(testSet1)
print(testSet2)

{0}
{0, '나', '강아지', '가', '다'}

In [1024]:
testSet1.symmetric_difference_update(testSet2)
testSet1

{'가', '강아지', '나', '다'}

###**집합 관계 확인**

In [1025]:
testSet0 = {}
testSet1 = {0}
testSet2 = {False}
testSet3 = {0, 10, 20, 30, 50, 50}
testSet4 = {'가', '나', '다'}
testSet5 = {10, 20, 30, 40, 50, '가', '나', '다'}

#### isdisjoint(otherset)
* 해당 set의 아이템과 otherset의 아이템이 **겹치지 않으면 True**, **겹치면 False** 반환

In [1026]:
testSet2.isdisjoint(testSet1)  # 정수 0을 False와 동일한 아이템으로 판단한다

False

In [1027]:
testSet2.isdisjoint(testSet0)  # null은 False와 다른 아이템으로 판단한다

True

In [1028]:
testSet4.isdisjoint(testSet5)

False

#### issubset(otherset)
* 해당 set이 otherset의 부분집합이면 True, 아니면 False 반환
* **동일한 집합이어도 True 반환**

In [1029]:
testSet4.issubset(testSet5)

True

In [1030]:
testSet4.issubset(testSet4)

True

In [1031]:
testSet3.issubset(testSet5)

False

#### issuperset(otherset)
* 해당 set이 otherset의 아이템을 모두 포함하면 True, 아니면 False 반환
* **동일한 집합이어도 True 반환**

In [1032]:
testSet5.issuperset(testSet4)

True

In [1033]:
testSet5.issuperset(testSet5)

True

In [1034]:
testSet5.issubset(testSet3)

False

##iterable 공통 (파이썬 내장함수)

#### TestSample

In [1035]:
testlist0 = []
testlist1 = [0]
testlist2 = [False]
testlist3 = [0, 10, 20, 30, 40, 50]
testlist4 = ['가', '나', '다']
testlist5 = [10, 20, 30, 40, 50, '가', '나', '다']

In [1036]:
testtuple1 = ()
testtuple2 = (0, 1)
testtuple3 = (False, True)
testtuple4 = (10, 20, 20, 20, 20)
testtuple5 = (10, 20, 20, 20, 20, '가', '나', '나', '강아지')

In [1037]:
testSet0 = {}
testSet1 = {0}
testSet2 = {False}
testSet3 = {0, 10, 20, 30, 50, 50}
testSet4 = {'가', '나', '다'}
testSet5 = {10, 20, 30, 40, 50, '가', '나', '다'}

In [1038]:
testDict0 = {}
testDict1 = {False : True}
testDict2 = {1: 101, 3: 102, 5: 103, 8: 104, 10: 105}
testDict3 = {1: "강아지", 2: "고양이", 3: "호랑이", 4: "토끼", 5: "햄스터"}
testDict4 = {"강아지": "멍멍", "고양이": "야옹", "호랑이": "어흥", "송아지": "음메"}
testDict5 = {1: 201, 2: 202, 3: 203, "강아지": "멍멍", "고양이": "야옹"}

###**아이템별 참/거짓 판별**

####   all(iterable)
* 객체 안의 아이템이 모두 True거나 비어있을 때, True를 반환함

In [1039]:
allList=[all(testlist0), all(testlist1), all(testlist2), all(testlist3), all(testlist4), all(testlist5)]
print(allList)

[True, False, False, False, True, True]

In [1040]:
allTuple=[all(testtuple1), all(testtuple2), all(testtuple3), all(testtuple4), all(testtuple5)]
print(allTuple)

[True, False, False, True, True]

In [1041]:
allSet=[all(testSet0),all(testSet1),all(testSet2),all(testSet3),all(testSet4),all(testSet5)]
print(allSet)

[True, False, False, False, True, True]

In [1042]:
print(all(testDict0))
print(all(testDict1)) # 키 값을 기준으로 하여 False 반환
print(all(testDict2))
print(all(testDict3))
print(all(testDict4))
print(all(testDict5))

True
False
True
True
True
True

#### any(iterable)
* 객체 안의 아이템 중 하라도 True라면 True, 비어있을 때는 False를 반환함

In [1043]:
anyList=[any(testlist0), any(testlist1), any(testlist2), any(testlist3), any(testlist4), any(testlist5)]
print(anyList)

[False, False, False, True, True, True]

In [1044]:
anyTuple=[any(testtuple1), any(testtuple2), any(testtuple3), any(testtuple4), any(testtuple5)]
print(anyTuple)

[False, True, True, True, True]

In [1045]:
anySet=[any(testSet0),any(testSet1),any(testSet2),any(testSet3),any(testSet4),any(testSet5)]
print(anySet)

[False, False, False, True, True, True]

In [1046]:
print(any(testDict0), any(testDict1), any(testDict2), any(testDict3), any(testDict4), any(testDict5))

False False True True True True

###**아이템 순서**

####reversed(sqe)
* 객체의 아이템 순서 뒤집기

* list의 reverse()와 달리 객체 순서 자체를 변경하는 것이 아니라 순서를 변경한 객체를 새로이 생성하여 반환한다.
 > *주의사항*

 > *revered(iterable)한다고 끝나는 것이 아니라 값을 반환받을 형태로 형변환해야 출력 가능함. 예제 확인!!*

* **아이템의 유형이 동일하지 않아도 동작한다.**

* **순서가 없는 set, dict에는 적용되지 않는다.**

In [1047]:
print(testlist3)
reversedList = list(reversed(testlist3))
print(reversedList)

[0, 10, 20, 30, 40, 50]
[50, 40, 30, 20, 10, 0]

In [1048]:
print(testlist4)
reversedList2 = list(reversed(testlist4))
print(reversedList2)

['가', '나', '다']
['다', '나', '가']

In [1049]:
print(testtuple4)
reversedTuple = tuple(reversed(testtuple4))
print(reversedTuple)

(10, 20, 20, 20, 20)
(20, 20, 20, 20, 10)

In [1050]:
print(testtuple5)
reversedList3 = list(reversed(testtuple5))
print(reversedList3)

(10, 20, 20, 20, 20, '가', '나', '나', '강아지')
['강아지', '나', '나', '가', 20, 20, 20, 20, 10]

####sorted(iterable) / sorted(iterable, reverse=False) // sorted(iterable. reverse=True)
* sorted(iterable) / sorted(iterable, reverse=False): 객체의 아이템 오름차순으로 정렬

* (iterable. reverse=True): 객체의 아이템 내림차순으로 정렬

* list의 sort()와 달리 객체 순서 자체를 변경하는 것이 아니라 순서를 변경한 객체를 새로이 생성하여 반환한다.
 > *주의사항*

 > *sorted(iterable)한다고 끝나는 것이 아니라 값을 반환받을 형태(list/tuple)로 형변환해야 출력 가능함. 예제 확인!!*


* *(아마도)순서가 아니라 분류이기 때문에..*
* **revered(sqe)와 달리 아이템의 유형이 동일할 때만 동작한다.**

* **set, dict에도 적용된다.** 
 >*단, 반환값을 set으로 받으면 set 자체에 순서가 없으므로 의미가 없고 dict로 받으면 key, value쌍이어야 하므로 성립히자 읺음.*

 > **list(sorted(dictName))** 키만 반환됨

 > **list(sorted(dictName.items()))** 키를 기준으로 정렬하여 (key, value) 튜플 모음 반환

 > **list(sorted(dictName.items(), key=lambda item:item[1]))** 값을 기준으로 정렬하여 (key, value) 튜플 모음 반환

In [1051]:
print(reversedList)
sortedList = list(sorted(reversedList))
print(sortedList)

[50, 40, 30, 20, 10, 0]
[0, 10, 20, 30, 40, 50]

In [1052]:
print(reversedList2)
reverseSortedList = list(sorted(reversedList2, reverse=True)) # 내림차순 정렬
print(reverseSortedList)

['다', '나', '가']
['다', '나', '가']

In [1053]:
print(reversedTuple)
sortedTuple = tuple(sorted(testtuple4, reverse=False)) # 오름차순 정렬
print(sortedTuple)

(20, 20, 20, 20, 10)
(10, 20, 20, 20, 20)

In [1054]:
radomSet = {100, 45, 24, 108, 7, 15, 36}
SortedSet = list(sorted(radomSet))             #주의사항 set으로 받으면 set 자체에 순서가 없으므로 무작위 순서로 출력된다.
print(SortedSet)

[7, 15, 24, 36, 45, 100, 108]

In [1055]:
randomDict = {101: 101, 4: 102, 58: 103, 18: 104, 10: 105}
SortedDict = list(sorted(randomDict)) 
print(SortedDict)                               # 키만 반환됨

[4, 10, 18, 58, 101]

In [1056]:
print(testDict4)
SortedDict = list(sorted(testDict4.items()))    # items를 활용하면 key를 기준으로 오름차순 정렬
print(SortedDict)

{'강아지': '멍멍', '고양이': '야옹', '호랑이': '어흥', '송아지': '음메'}
[('강아지', '멍멍'), ('고양이', '야옹'), ('송아지', '음메'), ('호랑이', '어흥')]

In [1057]:
print(testDict3)
reverseSortedDict = list(sorted(testDict3.items(), key=lambda item:item[1], reverse=True))    # items + lambda 활용 value를기준 내림차순 정렬
print(reverseSortedDict)

{1: '강아지', 2: '고양이', 3: '호랑이', 4: '토끼', 5: '햄스터'}
[(3, '호랑이'), (5, '햄스터'), (4, '토끼'), (2, '고양이'), (1, '강아지')]

###**최대값/최소값/합/아이템 개수**

####min(iterable)
* 객체 내 최소값 반환
* 단, 아이템의 유형이 모두 동일할 때만 동작한다.

In [1058]:
print(testlist3)
min(testlist3)

[0, 10, 20, 30, 40, 50]

0

In [1059]:
print(testlist4)
min(testlist4)

['가', '나', '다']

'가'

In [1060]:
print(testtuple4)
min(testtuple4)

(10, 20, 20, 20, 20)

10

In [1061]:
print(testSet3)
min(testSet3)

{0, 10, 50, 20, 30}

0

In [1062]:
print(testDict2)
min(testDict2)

{1: 101, 3: 102, 5: 103, 8: 104, 10: 105}

1

In [1063]:
print(testDict4)
min(testDict4)

{'강아지': '멍멍', '고양이': '야옹', '호랑이': '어흥', '송아지': '음메'}

'강아지'

#### max(iterable)
* 객체 내 최대값 반환
* 단, 아이템의 유형이 모두 동일할 때만 동작한다.

In [1064]:
print(testlist3)
max(testlist3)

[0, 10, 20, 30, 40, 50]

50

In [1065]:
print(testlist4)
max(testlist4)

['가', '나', '다']

'다'

In [1066]:
print(testtuple4)
max(testtuple4)

(10, 20, 20, 20, 20)

20

In [1067]:
print(testSet3)
max(testSet3)

{0, 10, 50, 20, 30}

50

In [1068]:
print(testDict2)
max(testDict2)

{1: 101, 3: 102, 5: 103, 8: 104, 10: 105}

10

In [1069]:
print(testDict4)
max(testDict4)

{'강아지': '멍멍', '고양이': '야옹', '호랑이': '어흥', '송아지': '음메'}

'호랑이'

#### sum(interable)
* 객체 내 아이템 합계
* 단, 객체 내 아이템이 숫자일 경우에 한함

In [1070]:
print(testlist3)
sum(testlist3)

[0, 10, 20, 30, 40, 50]

150

In [1071]:
print(testtuple4)
sum(testtuple4)

(10, 20, 20, 20, 20)

90

In [1072]:
print(testSet3)
sum(testSet3)

{0, 10, 50, 20, 30}

110

In [1073]:
print(testDict2)
sum(testDict2)

{1: 101, 3: 102, 5: 103, 8: 104, 10: 105}

27

#### len(iterable)
* 객체 내 아이템 개수 반환

In [1074]:
print(testlist3)
len(testlist3)

[0, 10, 20, 30, 40, 50]

6

In [1075]:
print(testlist4)
len(testlist4)

['가', '나', '다']

3

In [1076]:
print(testtuple4)
len(testtuple4)

(10, 20, 20, 20, 20)

5

In [1077]:
print(testSet3)
len(testSet3)

{0, 10, 50, 20, 30}

5

In [1078]:
print(testDict2)
len(testDict2)

{1: 101, 3: 102, 5: 103, 8: 104, 10: 105}

5

In [1079]:
print(testDict4)
len(testDict4)

{'강아지': '멍멍', '고양이': '야옹', '호랑이': '어흥', '송아지': '음메'}

4

###**아이템 확인**

#### enumerate(iterable)
* 객체 내 아이템들을 인덱스와 함께 반환, (index, item)의 튜플로 묶어서 객체 반환

In [1080]:
print(testlist3)
enList = list(enumerate(testlist3))
print(enList)

[0, 10, 20, 30, 40, 50]
[(0, 0), (1, 10), (2, 20), (3, 30), (4, 40), (5, 50)]

In [1081]:
print(testtuple4)
enTuple = tuple(enumerate(testtuple4))
print(enTuple)

(10, 20, 20, 20, 20)
((0, 10), (1, 20), (2, 20), (3, 20), (4, 20))

In [1082]:
for i in enumerate(testSet3) :
  print(i)

(0, 0)
(1, 10)
(2, 50)
(3, 20)
(4, 30)

In [1083]:
print(testDict4)
enDict = list(enumerate(testDict4))
print(enDict)

{'강아지': '멍멍', '고양이': '야옹', '호랑이': '어흥', '송아지': '음메'}
[(0, '강아지'), (1, '고양이'), (2, '호랑이'), (3, '송아지')]

#### value in interable
* 해당 값이 객체 내에 아이템으로 존재하는지 확인

In [1084]:
10 in testlist3

True

In [1085]:
'다' in testtuple0

False

In [1086]:
'호랑이' in testDict3

False

In [1087]:
'호랑이' in testDict4

True

In [1088]:
10 in testSet5

True