<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/math_random_%EB%AA%A8%EB%93%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#math 모듈, random 모듈 import하여 사용하기 예제



##1.   math 모듈

In [1]:
import math as ma

### **올림, 반올림, 버림, 절대값 + a**

#### ceil(x)
* 소수점 이하 올림. x보다 큰 정수 중 가장 작은 값 반환

 > *ceil(3.14)라면 4 반환, ceil(-3.14)라면 -3 반환*

In [8]:
ma.ceil(3.14)

4

In [9]:
ma.ceil(-3.14)

-3

#### floor(x)
* 소수점 이하 내림. x보다 작은 정수 중 가장 큰 값 반환

 > *floor(3.74)라면 3 반환, floor(-3.74)라면 -4 반환*

In [4]:
ma.floor(3.74)

3

In [5]:
ma.floor(-3.74)

-4

#### trunc(x)
* 소수점 이하 버림. x보다 작은 정수 수 중 0에 가까운 값, 즉, x의 정수 부분만 반환
 
 > *trunc(3.74)라면 3 반환, trunc(-3.74)라면 -3 반환*

In [41]:
ma.trunc(3.74)

3

In [42]:
ma.trunc(-3.74)

-3

#### fabs(x)
* x의 절대값 반환
 
 > *fabs(-5)라면 5.0 반환*

In [6]:
ma.fabs(-5)

5.0

#### copysign(x, y)
* x의 부호를 y의 부호로 바꾸어 반환
 
 > *copysign(2, -5)라면 -2.0 반환*

In [7]:
ma.copysign(2, -5)

-2.0

#### factorial(x)
* x!(팩토리얼) 값 반환
 
 > *factorial(5)라면 5*4*3*2*1하여 120 반환*

In [10]:
ma.factorial(5)

120

#### fmod(x, y)
* x를 y로 나눈 나머지 반환. x%y와 유사하나 x와 동일한 부호의 값으로 반환
 
 > *fmod(5, 3)이라면 2.0 반환, fmod(-5, -3) 또는 fmod(-5, 3)이라면 -2.0 반환*

In [11]:
ma.fmod(5,3)

2.0

In [12]:
ma.fmod(-5,-3)

-2.0

In [13]:
ma.fmod(-5,3)

-2.0

#### fsum(iterable)
* iterable객체(여러 값을 가져서 반복적으로 값 입력이 가능한 객체)를 매개변수로 하여 모든 값의 합을 float 형식으로 반환
 
 > *fsum([1.1, 2.2, 3.3])이라면 6.6반환, fsum({1, 2, 3})이라면 6.0 반환*

In [14]:
ma.fsum([1.1, 2.2, 3.3])

6.6

In [15]:
ma.fsum({1, 2, 3})

6.0

#### modf(x)
* x의 정수 부분과 소수 부분을 나누어 반환
 
 > *modf(3.141592)라면 ~(0.141592, 3)~반환* -> (0.14159200000000016, 3.0)
 
 > *modf(100)이라면 ~(0.0, 100)~ 반환* -> (0.0, 100.0)

In [43]:
ma.modf(3.141592)

(0.14159200000000016, 3.0)

In [44]:
ma.modf(100)

(0.0, 100.0)

### **무한대, NaN(not a number)**

#### nan
* 부동 소수점 NaN(not a number) 값(float('nan')과 동일)

In [23]:
ma.nan

nan

In [24]:
float('nan')

nan

#### inf
* 부동 소수점 양의 무한대(float('inf')와 동일)

* 음의 무한대는 -inf

In [25]:
ma.inf

inf

In [26]:
float('inf')

inf

In [27]:
-ma.inf

-inf

In [28]:
float('-inf')

-inf

#### isfinite(x)
* x값이 무한대거나 Nan인 경우 False, 이외의 경우(숫자거나 무한한 값이 아닌 경우) True 반환 
 
 > *isfinite(1000/3.141592)라면 True반환*
 
 > *isfinite(non) 또는 isfinite(inf)라면 False 반환*

In [18]:
ma.isfinite(1000/3.141592)

True

In [21]:
ma.isfinite(ma.nan)

False

In [22]:
ma.isfinite(ma.inf)

False

#### isinf(x)
* x값이 양의 무한대, 혹은 음의 무한대일 때 True 반환
 
 > *isinf(1000/3.141592) 또는 isinf(non)이라면 False반환*
 
 > *isinf(float('inf'))  또는 isinf(-math.inf)라면 True 반환*

In [29]:
ma.isinf(1000/3.141592)

False

In [30]:
ma.isinf(ma.nan)

False

In [32]:
ma.isinf(float('inf'))

True

In [31]:
ma.isinf(-ma.inf)

True

#### isnan(x)
* x값이 Nan인 경우 True 반환
 
 > *isnan(1000/3.141592) 또는 isnan(float('inf'))라면 False반환*
 
 > *isnan(float('nan'))  또는 isnan(math.nan)이라면 True 반환*

In [33]:
ma.isnan(1000/3.141592)

False

In [34]:
ma.isnan(float('inf'))

False

In [35]:
ma.isnan(float('nan'))

True

In [36]:
ma.isnan(ma.nan)

True

### **상수**

#### pi
* 원주율 π, pi값

 > 3.1415926535......

In [66]:
ma.pi

3.141592653589793

#### e
* (오일러)상수 e, 자연로그의 밑

 > 2.7182818284……

In [67]:
ma.e

2.718281828459045

###**지수, 로그**

#### pow(x)
* x의 y승 반환(x**y)
 
 > *pow(2, 7)이라면 128.0 반환*

In [45]:
ma.pow(2, 7)

128.0

#### sqrt(x)
* x의 제곱근 반환(x**0.5 또는 pow(x, 0.5)) -> x에는 양수만 반영(음수의 경우 에러)
 
 > *sqrt(16)이라면 4.0 반환*

In [52]:
ma.sqrt(16)

4.0

In [61]:
16**0.5

4.0

In [62]:
ma.pow(16, 0.5)

4.0

#### exp(x)
* e의 x승 반환 e**x
 
 > *exp(1)은 2.7182818284....반환*

In [68]:
ma.exp(1)

2.718281828459045

#### expm1(x)
* e의 x승 -1 반환 e**x -1
 
 > *expm1(1)은 1.7182818284....반환*

In [70]:
ma.expm1(1)

1.718281828459045

#### log(x, b) / log(x)
* 밑이 b이고 진수가 x인 로그값 반환, b 없이 사용하면 밑이 e인 자연로그 반환
 
 > *log(256, 2)라면 8.0 반환, log(2.7182818284)라면 1에 가까운 값 반환*

In [71]:
ma.log(256, 2)

8.0

In [72]:
ma.log(2.7182818284)

0.9999999999782784

#### frexp(x)
* x를 가수(상용로그의 소수 부분) m과 2의e승의 합으로 나누어 (m, e) 형식으로 반환
 
 > *frexp(10) 이라면 (0.625, 4) 반환*

In [75]:
ma.frexp(10)

(0.625, 4)

#### ldexp(x, i)
* x와 2의 i승의 곱(x * (2 * * i)) 반환 frexp()의 반대 개념
 
 > *ldexp(3, 3)이면 24.0반환*
 > *ldexp(0.625, 4)면 10.0 반환*

In [74]:
ma.ldexp(3, 3)

24.0

In [77]:
ma.ldexp(0.625, 4)

10.0

#### log1p(x)
* 밑이 e이고 진수가 x+1인 로그값 반환
 
 > *log1p(1.7182818284)라면 1에 가까운 값 반환*

 > *log(0)의 경우 무한대 값으로 에러가 발생하지만 log1p(0)를 사용하면 0.0이 반환됨*

In [82]:
ma.log1p(1.7182818284)

0.9999999999782785

In [80]:
ma.log1p(0)

0.0

#### log2(x)
* 밑이 2이고 진수가 x인 로그값, 즉 이진로그 반환
 
 > *log2(256)이라면 8.0 반환 log2(1024)라면 10.0 반환*

In [83]:
ma.log2(256)

8.0

In [84]:
ma.log2(1024)

10.0

#### log10(x)
* 밑이 10이고 진수가 x인 로그값, 즉 상용로그 반환
 
 > *log10(100000)이라면 5.0 반환*

In [85]:
ma.log10(100000)

5.0

###**삼각함수**

#### radians(x)
*  x도를 라디안으로 변환
 
 > *radians(57.2958)이라면 1에 가까운 값 반환*

In [252]:
ma.radians(57.2958)

1.0000003575641672

#### degrees(x)
*  x라디안을 각도로 변환
 
 > *degrees(3.1415926535)라면 180에 가까운 값 반환*
 
 > *degrees(pi)라면 180.0 반환*

In [253]:
ma.degrees(3.1715926535)

181.7188733802477

In [254]:
ma.degrees(ma.pi)

180.0

#### sin(x)
* 사인 x 값을 반환, (단, x는 라디안)
 
 > *sin(radians(30)) 또는 sin(pi/6)이라면 0.5에 가까운 값 반환*

In [255]:
ma.sin(ma.radians(30))

0.49999999999999994

In [256]:
ma.sin(ma.pi/6)

0.49999999999999994

#### cos(x)
* 코사인 x 값을 반환, (단, x는 라디안)
 
 > *cos(radians(60)) 또는 cos(pi/3)이라면 0.5에 가까운 값 반환*

In [257]:
ma.cos(ma.radians(60))

0.5000000000000001

In [258]:
ma.cos(ma.pi/3)

0.5000000000000001

#### tan(x)
* 탄젠트 x 값을 반환, (단, x는 라디안)
 
 > *tan(radians(45)) 또는 sin(pi/4)이라면 1에 가까운 값 반환*

In [259]:
ma.tan(ma.radians(45))

0.9999999999999999

In [260]:
ma.tan(ma.pi/4)

0.9999999999999999

###**역삼각함수 + a**

#### asin(x)
* 역 삼각함수. x의 아크사인(arcsin)을 라디안으로 반환
 
 > *degrees(asin(0.5))라면 30에 가까운 값 반환*

In [105]:
ma.degrees(ma.asin(0.5))

30.000000000000004

#### acos(x)
* 역 삼각함수. x의 아크 코사인(arccos)을 라디안으로 반환
 
 > *degrees(acos(0.5))라면 60에 가까운 값 반환*

In [106]:
ma.degrees(ma.acos(0.5))

60.00000000000001

#### atan(x)
* 역 삼각함수. x의 아크 탄젠트(arctan)를 라디안으로 반환
 
 > *degrees(atan(1))이라면 45에 가까운 값 반환*

In [107]:
ma.degrees(ma.atan(1))

45.0

#### atan2(y, x)
 * 역 삼각함수. y/x의 아크 탄젠트(arctan)를 라디안으로 반환

* y와 x에 음수값이 올 수 있으며 좌표상에서 y와 x값을 바탕으로 각을 구할 때 유용하게 쓰인다고 함.

 > *degrees(atan2(1, 1))라면 45에 가까운 값 반환*

 > *degrees(atan2(5, -5))라면 135에 가까운 값 반환*

 > *degrees(atan2(-6, -6))라면 ~315~에 가까운 값 반환*  -> -45.0

 > *degrees(atan2(-3, 3))라면 ~225~에 가까운 값 반환*
  -> -135.0

In [112]:
ma.degrees(ma.atan2(1, 1))

45.0

In [111]:
ma.degrees(ma.atan2(5, -5))

135.0

In [114]:
ma.degrees(ma.atan2(-6, -6))

-135.0

In [113]:
ma.degrees(ma.atan2(-3, 3))

-45.0

#### hypot(x, y)
 * x제곱 + y제곱의 제곱근을 반환

* 피타고라스 정리처럼 활용한다면 좌표상에서 두 점 사이의 거리를 계산할 때 유용하게 쓰일 것으로 보임.

 > *hypot(3, 4), hypot(-3, 4), hypot(-3, -4), hypot(3, -4) 모두 5.0 반환*

In [116]:
ma.hypot(3, 4)

5.0

In [117]:
ma.hypot(-3, 4)

5.0

In [118]:
ma.hypot(3, -4)

5.0

In [119]:
ma.hypot(-3, -4)

5.0

###**쌍곡선함수**

#### sinh(x)
* 쌍곡사인 x 값을 반환
 
 > *sinh(0)은 0.0 반환*

 > *이유는 알 수 없으나...* 
 
 >*x값이 -710.47586007394392....에서 710.47586007394392....사이인 것으로 보이며 그 외의 값은 에러*

 <img src="https://file.namu.moe/file/40115ee23d930440604cae33e30840628ffa83a8aaf658ebcfd0929613cb7496791666d2fe1be762373f9ec2300b6b7f" width="200px">

In [120]:
ma.sinh(0)

0.0

In [207]:
ma.sinh(710.47586007394392)

1.7976931348621744e+308

#### cosh(x)
* cosh(x)
쌍곡코사인 x 반환
 > *cosh(0)은 1.0 반환*

 > *cosh(x) 값이 cosh(-x)일 것으로 추정*

 > *x값의 입력 범위가 sinh와 동일한 것으로 보임*

 <img src="https://file.namu.moe/file/8c0839a6594284dfdf521156d8a961c4814334cb827f3c70a4a33f269f1b3efaa2cd011f2e40e4366e323fbd663c02b1" width="200px">

In [208]:
ma.cosh(0)

1.0

In [214]:
ma.cosh(710.47586007394392)

1.7976931348621744e+308

In [215]:
ma.cosh(-710.47586007394392)

1.7976931348621744e+308

#### sinh(x), cosh(x) 관계 예제
* cosh(x)+sinh(x)은 e ** x, 즉, exp(x) 반환
* cosh(x)-sinh(x)은 e ** -x, 즉, exp(-x) 반환

In [222]:
ma.cosh(10) + ma.sinh(10)

22026.465794806718

In [218]:
ma.exp(10)

22026.465794806718

In [220]:
ma.cosh(10) - ma.sinh(10)

4.539993096841499e-05

In [221]:
ma.exp(-10)

4.5399929762484854e-05

#### tanh(x)
* 쌍곡 탄젠트 x 반환
 
 > *tanh(0)은 0.0 반환, tanh(1000)은 1에 가까운 값 반환, tanh(-1000)은 -1에 가까운 값 반환*

 <img src="https://file.namu.moe/file/33aabfb0f29c368ad1c3d90608d6591194aca03fe7399d83c4ece57f3c1f28f719836ccac47b0cda0a38531acd3e8cc3" width="200px">

In [223]:
ma.tanh(0)

0.0

In [225]:
ma.tanh(1000)

1.0

In [269]:
ma.tanh(-1000)

-1.0

###**역쌍곡함수**

#### asinh(x)
* 쌍곡사인(sinh)의 역 함수
 
 > *asinh(sinh(5))라면 5에 가까운 값 반환*

In [249]:
ma.asinh(ma.sinh(5))

5.0

#### acosh(x)
* 쌍곡코사인(cosh)의 역 함수
 
 > *acosh(cosh(10))이라면 10에 가까운 값 반환*

In [250]:
ma.acosh(ma.cosh(10))

10.0

#### atanh(x)
* 쌍곡탄젠트(tanh)의 역 함수
 
 > *atanh(tanh(1000))이라면 ~1000에 가까운 값 반환~* 
 
 > -> 에러발생 x값은 -0.99999999999999994.... 에서 0.99999999999999994....사이

In [251]:
ma.atanh(0.99999999999999994)

18.714973875118524

###**오차 함수**

#### erf(x)
* 오차함수: 가우시안 함수를 기준으로,
* 오차함수 결과값이 0에 가깞다면 실험 결과가 평균에 가깝다는 의미이며, 오차함수 결과값이 -1 또는 1에 가깝다면 평균과는 먼 결과라는 의미임.

* 쌍곡탄젠트의 그래프와 유사함
 
 > *erf(0)은 0.0 반환, erf(1000)은 1에 가까운 값 반환, erf(-1000)은 -1에 가까운 값 반환*

 <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Erf_plot.svg/325px-Erf_plot.svg.png" width="300px">

In [261]:
ma.erf(0)

0.0

In [262]:
ma.erf(1000)

1.0

In [263]:
ma.erf(-1000)

-1.0

#### erfc(x)
* 여오차 함수 1에서 오차함수를 뺀 값

* 1-erf(x)
 
 > *erfc(0)은 1.0 반환, erfc(1000)은 0에 가까운 값 반환, erfc(-1000)은 2에 가까운 값 반환*

In [264]:
ma.erfc(0)

1.0

In [265]:
ma.erfc(1000)

0.0

In [266]:
ma.erfc(-1000)

2.0

###**감마 함수**

#### gamma(x)
* 감마 함수
* x가 양의 정수일 때는 ~x! 반환~ -> (x-1)! 반환
* x가 양의 정수가 아닐 때 감마값 반환
 
 > *gamma(5)라면 ~120.0~ 반환* -> 4! 즉, 24.0 반환 
 
 > *gamma(1.5)라면 sqrt(π)/2 에 가까운 값 반환

 <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Gamma_plot.svg/300px-Gamma_plot.svg.png" width="300px">

In [272]:
ma.gamma(5)

24.0

In [273]:
ma.gamma(1.5)

0.886226925452758

In [274]:
ma.sqrt(ma.pi)/2

0.8862269254527579

#### lgamma(x)
* 감마(x)의 절대값을 자연 로그로 반환
 
 > *lgamma(5)라면 log(24)에 가까운 값 반환

In [277]:
ma.lgamma(5)

3.178053830347945

In [276]:
ma.log(24)

3.1780538303479458



##2.   random 모듈

In [497]:
import random

###**난수생성기 설정**

#### seed(None, n) / seed(n)

* 동일한 난수를 생성하도록 시드 초기화

 > *rseed(Non, n)이라면 매번 다른 난수 반환*

 > *seed(n)으로 초기화한 후에는 매번 같은 난수 반환*

In [591]:
random.seed(None, 2)
x = random.randint(1, 100)
random.seed(None, 2)
y = random.randint(1, 100)

print(x, ", " , y)

35 ,  1

In [590]:
random.seed(5)
i = random.randint(1, 100)

random.seed(5)
j = random.randint(1, 100)  

print(i, ", " , j)

80 ,  80

#### getstate() / setstate(state)

* getstate() : 난수생성기의 현 상태 반환
* setstate(state) : 난수생성기를 state 상태로 복원 
 > *state=getstae()후, setstate(state) 한다면 동일한 random값 반환*

In [609]:
print(random.triangular())
state = random.getstate()
print(random.triangular())
random.setstate(state)
print(random.triangular())
print(random.triangular())

0.2828621026476245
0.5502322179031713
0.5502322179031713
0.429273679292213

###**정수 및 실수**

#### random() 
*	0에서 1 사이의 실수를 생성
* 랜덤의 범위는 0.0<= N <1.0 으로 **1을 포함하지 않음**

In [347]:
random.random()

0.027957560997996955

uniform(a, b)

* a에서 b 사이의 실수를 생성
* 랜덤의 범위는 a.0 <= N <= b.0으로 **b를 포함**

In [363]:
random.uniform(1.0, 1.1)

1.052997407540516

#### ranint(a, b) 
*	a와 b 사이의 정수를 생성
* 랜덤의 범위는 a<= random() <= b 로 **b를 포함**

In [357]:
random.randint(100, 110)

110

#### randrange(stop) / randrange(start, stop) / randrange(start, stop, step)

* 지정된 범위 내의 정수 반환
 > *randrange(11)이라면 0 <= N < 11 범위의 정수를 반환*

 > *randrange(11, 20)이라면 11 <= N < 20 범위의 정수를 반환*

 > *randrange(2, 10, 2)라면 2 <= N < 10 범위의 짝수를 반환*

In [414]:
random.randrange(11)

0

In [380]:
random.randrange(11, 20)

11

In [387]:
random.randrange(2, 10, 2)

8

#### getrandbits(k)
* k bit 크기의 정수를 반환

 > *getrandbits(8)이라면 0 <= N <= 256 범위의 정수 반환*

In [496]:
random.getrandbits(8)

225

###**시퀀스(list, tuple, range, String) + set, dict**

In [334]:
templist = [2, 4, 6, 8, 10]
temptuple = (1, 3, 5, 7, 9)
tempdict1 = {1:"강아지", 2:"고양이", 3:"토끼", 4:"햄스터", 5:"호랑이"}
tempdict2 = {1:101, 2:102, 3:103, 4:104, 5:105}
tempset = {10, 11, 12, 13, 14}
tempstr = "강아지 고양이 토끼 햄스터 호랑이"

#### choice(seq) 
*	list, tuple, range 등 순서가 있는 객체를 매개변수로 받아 임의의 아이템 하나를 반환
* 단, 비어 있는 인덱스의 값은 반환 대상이 아님

 > *순서가 없는 dict, set은 choice의 매개변수로 적절하지 않음*

 > *set은 아예 에러가 나고 dict는 동작할 때도, 에러가 날 때도 있다.(dict의 키값을 정수로 할 때만 동작하는 것으로 보임)*

In [317]:
random.choice(templist)

4

In [318]:
random.choice(temptuple)

3

In [319]:
random.choice(tempstr)

'아'

In [346]:
random.choice(tempdict1)

'햄스터'

In [345]:
random.choice(tempdict2)

102

In [341]:
random.choice(range(200,211))

203

#### sample(population, k) 
*	list, tuple, range 등 순서가 있는 객체 + set을 매개변수로 받아 k 개수의 아이템을 리스트로 반환

 > *key 와 value로 이루어진 dict는 select의 매개변수로 적절하지 않음*

In [328]:
random.sample(templist, 2)

[10, 8]

In [329]:
random.sample(temptuple, 3)

[1, 7, 3]

In [330]:
random.sample(tempstr, 10)

['호', ' ', '토', ' ', '스', '햄', ' ', '아', '고', '터']

In [333]:
random.sample(tempset, 4)

[11, 13, 12, 14]

In [342]:
random.sample(range(200,211), 5)

[209, 205, 203, 208, 207]

#### shuffle(seq)
*	list를 매개변수로 받아 아이템들을 랜덤하게 섞음
* 값을 수정할 수 없는 tuple이나 순서가 없는 set, dict은 동작하지 않음

In [284]:
random.shuffle(templist)
print(templist)

[2, 10, 8, 4, 6]

###**통계/확률**

#### normalvariate(mu, sigma)

* 평균 mu, 표준편차를 sigma로 하는 정규분포를 기준으로 난수를 생성

* normalvariate(mu, sigma)를 무수히 많이 반복하여 평균과 표준편차를 구할 경우 직접 설정한 mu, sigma에 가깝게 나올 것으로 예상

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Normal_Distribution_PDF.svg/270px-Normal_Distribution_PDF.svg.png">

In [610]:
random.normalvariate(0, 1)

1.0090824133353362

#### gauss(mu, sigma)

* 평균 mu, 표준편차를 sigma로 하는 표준정규분포를 기준으로 난수를 생성

* normalvariate와 동일한 기능을 함. (tutorial에 처리 속도는 gauss가 조금 더 빠르지만, 다중 스레드 상황에서 안정성이 부족하다는 설명이 있음)

* gause(mu, sigma)를 무수히 많이 반복하여 평균과 표준편차를 구할 경우 직접 설정한 mu, sigma에 가깝게 나올 것으로 예상

In [635]:
random.gauss(0, -1)

1.282662472409896

#### lognormvariate(mu, sigma)

* 로그정규분포: 로그가 정규분포를 따르는 확률변수의 분포를 기준으로 난수를 생성

* 변수 x가 정규분포를 따른다면 e ** x, 즉 exp(x)는 로그정규분포를 따름

* mu에는 어떤 값이나 올 수 있으나 sigma는 0보다 커야 함

* 결과는 늘 양수만 나온다

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Some_log-normal_distributions.svg/270px-Some_log-normal_distributions.svg.png">

In [637]:
random.lognormvariate(-1, 0)

0.36787944117144233

#### gammavariate(alpha, beta)

* 감마분포를 기준으로 난수를 생성

* alpha 번째 사건이 일어날 때까지 걸리는 시간에 대한 연속확률분포

*  alpha를 형태모수, beta를 척도모수라고 하며, alpha와 beta 모두 0보다 큰 값을 입력해야 한다

* 결과는 늘 양수만 나온다.

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Gamma_distribution_pdf.png/270px-Gamma_distribution_pdf.png">

In [639]:
random.gammavariate(1, 2)

2.4512071588633115

#### expovariate(lambd)

* 지수 분포를 기준으로 난수를 생성

* 감마분포의 특수케이스로 alpha를 1로 고정시켜 단순화 한 분포도

* lambd는 1.0을 원하는 평균으로 나눈 값으로 0이 될 수 없음

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Exponential_pdf.svg/270px-Exponential_pdf.svg.png">

In [632]:
random.expovariate(-500)

-0.0031789877857662453

#### betavariate(alpha, beta)

* 베타분포를 기준으로 난수를 생성

*  alpha와 beta 모두 0보다 큰 값을 입력해야 한다

* 0에서 1사이의 값을 반환한다.

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Beta_distribution_pdf.svg/270px-Beta_distribution_pdf.svg.png">

In [643]:
random.betavariate(100, 200)

0.30754225052472084

#### triangular() / triangular(law, high) / triangular(law, high, mode)

* 삼각분포를 기준으로 난수를 생성

* law는 최소값 high는 최대값, mode는 최빈값 
 > *randrange()이라면 0.0 <= N <= 1.0 범위의 실수 값을 반환*

 > *randrange(0, 100)이라면 0.0 <= N <= 100.0 범위의 실수 값을 반환*

 > *randrange(0.0, 100.0, 3.5)라면 0.0 <= N <= 100.0 범위의 실수 중 3.5에 가중치를 두고 난수를 반환*

In [606]:
random.triangular()

0.8665265331343271

In [607]:
random.triangular(0, 100)

37.04032569529681

In [608]:
random.triangular(0.0, 100.0, 3.5)

23.083908686639404

#### paretovariate(alpha)

* 파레토분포를 기준으로 난수 생성

* alpha는 모양(shape) 매개 변수로 alpha가 0에 가까울수록 더 균등분포에 가깝고 alpha 가 더 클 수록 디랙 델타 함수에 가까워진다.(더 큰 불평등을 의미)

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Probability_density_function_of_Pareto_distribution.svg/270px-Probability_density_function_of_Pareto_distribution.svg.png">

In [672]:
random.paretovariate(10000000000000000) # 계속 1에 가까운 수 산출

1.0000000000000004

In [675]:
random.paretovariate(0.01) # 숫자 범위가 다양함

137449901.66628966

#### weibullvariate(alpha, beta)

* 베이불분포를 기준으로 난수 생성

* 주로 산업현장에서 부품의 수명을 추정하는 데 사용되며, 고장날 확률이 시간이 지나면서 높아지는 경우와 줄어드는 경우와 일정한 경우 모두 추정 할 수 있음

* 고장날 확률이 시간에 따라 일정한 경우는 지수분포와 동일함

* alpha는 크기(scale) 매개 변수이고 beta는 모양(shape) 매개 변수

<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Weibull_PDF.svg/270px-Weibull_PDF.svg.png">

In [677]:
random.weibullvariate(-5, -3)

-5.905060059017162

#### vonmisesvariate(mu, kappa)

* 폰미제스분포를 기준으로 난수 생성

* mu는 0과 2*pi 사이의 라디안으로 표현된 평균 각도이며,
kappa는 집중도(concentration) 매개 변수로 0 이상이어야 함

* kappa가 0이면, 이 분포는 0에서 2*pi에 걸친 균등한 임의의 각도를 반환함

<img src = "https://t1.daumcdn.net/cfile/tistory/247469345418F6B904">

In [645]:
random.vonmisesvariate(ma.pi, 0)

5.652864710572115