<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/Python_0414_forloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for loop**

---


**for** val in sequence

In [2]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

sum = 0

for val in numbers:
  sum = sum+val

print("The sum is", sum)

The sum is 48

In [14]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

sum = 0

print("Enter Number:")
num = int(input())       # input() 키보드에서 입력한 값을 문자열로 인식하므로 int로 형변환

for val in numbers:
  if(val > num) :        # val % num == 0 입력한 값으로 나누어지는 수만 합산하기 등등 조건식만 바꾸면 적용 가능
    sum = sum+val

print("The sum is", sum)

Enter Number:
4
The sum is 35

forloop + range()
--
range(start, stop, step_size)

In [41]:
print(range(10))
print(list(range(10)))
print(list(range(2,8)))
print(list(range(2,20,3)))

genre = ['pop', 'rock', 'jazz']
for i in range(len(genre)) :
  print("I like", genre[i])

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]
I like pop
I like rock
I like jazz

0~100까지 수 중 3의 배수만 출력하기

In [15]:
print(list(range(3, 100, 3)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

시작 값과 범위를 받아 tuple 출력하기

In [17]:
print("시작 값을 입력해주세요: ")
m = int(input())
print("마지막 값을 입력해주세요: ")
n = int(input())

print(tuple(range(m, n)))

시작 값을 입력해주세요:
1
마지막 값을 입력해주세요:
60
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59)

2~9까지 숫자를 받아 구구단(배수) 출력하기

In [25]:
print("숫자를 입력해주세요")
m = int(input())
print(list(range(m, m*9+1, m)))

숫자를 입력해주세요
9
[9, 18, 27, 36, 45, 54, 63, 72, 81]

주어진 list의 짝수번째 번호만 합하기

In [38]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0

for i in range(int(len(numbers)/2)) :
  sum = sum+numbers[i*2+1]
  print(numbers[i*2+1])

# 전체 길이 : len(numbers) 이걸 2로 나눈다. len(numbers)/2
# 2로 나눈 수이기 때문에 실수일 수도 있으므로 int로 형변환 int(len(numbers)/2)
# 이걸 range 범위로 넣어주면 전체 길이 수/2만큼 반복함
# 즉, numbers[i]에서 i 는 0~3이 된다
# numbers[i*2]를 하면 numbers[0],numbers[2], numbers[4], numbers[6]을 순차적으로 출력 (인덱스 상으로는 짝수지만 홀수 번째 출력)
# so, numbers[i*2+1]을 한다.

print(sum)

5
8
2
4
19

In [40]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0

for i in range(0, len(numbers), 2) :
  print(numbers[i])

# 홀수/짝수는 시작 숫자만 1로 바꿔주면 된다. 또는 numbers[i+1]

6
3
4
5
11