<a href="https://colab.research.google.com/github/ESJoGithub/ESJoGithub.github.io/blob/master/Python_0404_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 0b1010
b = 100
c = 0o3010
d = 0x12c

print(a, b, c, d)

10 100 1544 300

In [ ]:
float = 1.5e2
print(float)

150.0

In [ ]:
x = 3.14j
print(x, x.imag, x.real)

3.14j 3.14 0.0

In [ ]:
a = True + 4
b = False + 10
print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
unicode = u"\u00dcnic\u00f6de"
print(unicode)

Ünicöde

In [ ]:
a = 5
print(a, "is of type", type(a))
a = 2.0
print(a, "is of type", type(a))
a = 1+2j
print(a, "is complex number?", isinstance(1+2j, complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

list 예제

In [ ]:
a = [5, 10, 15, 20, 25, 30, 35, 40]
print("a[2] = ", a[2])
print("a[0:3] = ", a[0:3])
print("a[5:] = ", a[5:])
a[0] = 100
print("a = ", a)

a[2] =  15
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]
a =  [100, 10, 15, 20, 25, 30, 35, 40]

tuple 예제

In [ ]:
t = (5, 'program', 1+3j)

print("t[1] = ", t[1])
print("t[0:3] = ", t[1])
print("t[0:3] = ", t[0:3])
# t[0] = 10  tuple은 값을 바꾸려 하면 오류가 발생한다.

t[1] =  program
t[0:3] =  program
t[0:3] =  (5, 'program', (1+3j))

string 예제

In [ ]:
s = "This is a string"
print(s)
s = '''A multiline string'''
print(s)

s = 'Hello world'

print("s[4] = ", s[4])
print("s[6:11] = " , s[6:11])
#s[5] = 'd' 오류발생, string도 값 바꾸려 하면 오류 발생한다.

str = 'cold'
list_enumerate = list(enumerate(str))
print('list(enumerate(str) = ', list_enumerate) #(인덱스, '값') : dic에 활용 가능
print('len(str) = ', len(str)) #아이템의 개수(for문 등에 활용)

This is a string
A multiline string
s[4] =  o
s[6:11] =  world
list(enumerate(str) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

set 예제

In [ ]:
a = {1, 2, 2, 3, 3, 3}
print(a)
a = {5, 2, 3, 1, 4}
print("a = ", a)
print(type(a))

my_set = {1, 3}
print(my_set)

my_set.add(2)
print(my_set)

my_set.update([2, 3, 4])
print(my_set)

my_set.update([4, 5], {1, 6, 8})
print(my_set)

my_set.remove(6)
print(my_set)

my_set.discard(5)
print(my_set)

{1, 2, 3}
a =  {1, 2, 3, 4, 5}
<class 'set'>
{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 8}
{1, 2, 3, 4, 8}