<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/Python_0410.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

명령문 연습

In [ ]:
a = (1 + 2 + 3 + 
     4 + 5 + 6 + 
     7 + 8 + 9)
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
a = 1; b = 2; c = 3;

In [1]:
for i in range(1, 11) :
  print(i)
  if i == 5 :
    break

1
2
3
4
5

In [4]:
if True:
  print('Hello')
  a = 5

if True : print('Hello'); a= 5

Hello
Hello

In [5]:
def double(num) :
  """Function to double the value"""
  return 2*num
print(double.__doc__)

Function to double the value

In [6]:
website = "kopo.ac.kr"
print(website)
website = "naver.com"
print(website)
website = 1
print(website)

kopo.ac.kr
naver.com
1

In [ ]:
a, b, c = 10, 5.2 , "kopo"
print(a)
print(b)
print(c)

In [7]:
a = b = c = "kopo"
print(a)
print(b)
print(c)
a = "Happy"
print(a)
print(b)
print(c)

kopo
kopo
kopo
Happy
kopo
kopo