<a href="https://colab.research.google.com/github/ESJoGithub/PythonStudy/blob/main/Python_220805_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas 활용 예제 실습

#### **Series 객체 생성 및 인덱스 설정**

In [ ]:
import pandas as pd

In [ ]:
obj = pd.Series([10, 20, 30, 40, 50])
obj2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
print(obj)
print(obj.index)
print(obj.values)
print(obj[1])
print(obj2)
print(obj2[['a','e']]) #지정 인덱스로 접근할 때는 이중대활호를 사용해야 하는듯?
print(obj2[1:3])

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
[10 20 30 40 50]
20
a    10
b    20
c    30
d    40
e    50
dtype: int64
a    10
e    50
dtype: int64
b    20
c    30
dtype: int64

#### **Series 객체의 연산과 조건식**

In [ ]:
print(obj*10)

print('-'*20)

print(obj >= 20)

0    100
1    200
2    300
3    400
4    500
dtype: int64
--------------------
0    False
1     True
2     True
3     True
4     True
dtype: bool

#### **Series 객체와 딕셔너리**

In [ ]:
data = pd.Series({'유재석': 35, "박명수": 60, "정형돈": 52}, index = ['유재석', '박명수', '정준하', '정형돈', '하하'])
data['하하'] = 40
print(data)
print(data[3])

유재석    35.0
박명수    60.0
정준하     NaN
정형돈    52.0
하하     40.0
dtype: float64
52.0

#### **DataFrame 객체 생성 및 인덱스 설정**

In [ ]:
data_2={'이름':['유재석','박명수','정형돈','하하'],'나이':[35, 60, 52, 38],'키':[180, 175, 160, 150]}
frame = pd.DataFrame(data_2)
frame_2 = pd.DataFrame(data_2, columns = ['이름','나이','키','몸무게'])
print(data_2)
print(frame)
print(frame_2)
print(frame.head(2))
print(frame.tail(2))

{'이름': ['유재석', '박명수', '정형돈', '하하'], '나이': [35, 60, 52, 38], '키': [180, 175, 160, 150]}
    이름  나이    키
0  유재석  35  180
1  박명수  60  175
2  정형돈  52  160
3   하하  38  150
    이름  나이    키  몸무게
0  유재석  35  180  NaN
1  박명수  60  175  NaN
2  정형돈  52  160  NaN
3   하하  38  150  NaN
    이름  나이    키
0  유재석  35  180
1  박명수  60  175
    이름  나이    키
2  정형돈  52  160
3   하하  38  150

#### **DataFrame 요소 추출하기**

In [ ]:
frame_3 = pd.DataFrame(data_2, index = ['첫째','둘째','셋째','넷째'])
print(frame_3)
print(frame_3.loc['둘째','이름'])
print(frame_3.loc['넷째',['나이', '키']])

print('-'*15)
print(frame_3.iloc[2, 0])
print(frame_3.iloc[3, :2])
print(frame_3.iloc[:,[0,2]])

     이름  나이    키
첫째  유재석  35  180
둘째  박명수  60  175
셋째  정형돈  52  160
넷째   하하  38  150
박명수
나이     38
키     150
Name: 넷째, dtype: object
---------------
정형돈
이름    하하
나이    38
Name: 넷째, dtype: object
     이름    키
첫째  유재석  180
둘째  박명수  175
셋째  정형돈  160
넷째   하하  150

#### **합계와 평균/정렬하기**

In [ ]:
frame_4 = frame.iloc[:, [1,2]]
rank = frame.sort_values(by=['나이'], ascending = False)
total = frame_4.sum(axis = 0)
avg = frame_4.mean(axis=0)

print(frame_4)
print(rank)
print(total)
print(avg)

   나이    키
0  35  180
1  60  175
2  52  160
3  38  150
    이름  나이    키
1  박명수  60  175
2  정형돈  52  160
3   하하  38  150
0  유재석  35  180
나이    185
키     665
dtype: int64
나이     46.25
키     166.25
dtype: float64